

<div class="container">
    <div class="left-pane">

    </div>
    <div class="right-pane">
        <h1>Bank application Register</h1>
       <!-- <h5>{{sin}}</h5>-->
       
       

    <input type="text" name="un" id="username" [(ngModel)]="uname"  placeholder="username"><br>
    <input type="text" name="ac" id="accountnum" [(ngModel)]="acno"  placeholder="account number"><br>
    <input type="text" name="pw" id="password" [(ngModel)]="pswd" placeholder="password"><br>
    
    <br>
    
    <input type="submit" name="sub" class="bttn" (click)="register()"  value="register">

   

    </div>